.wrapper {
	position: relative;
	top: 200px;
  left: 43%;
	background-color: #6FBBF7;
	width: 215px;
	height: 340px;
	padding: 30px;
	border-radius: 10%;
	box-shadow: 2px 2px 2px;
}

input {
	text-align: right;
	position: relative;
	top: 2px;
	left: 2px;
}

.clear {
	width: 40px;
	background-color: salmon;
	position: relative;
	top: 12px;
	left: 117px;
}

.calckeys {
	position: relative;
	top: 20px;
	left: 7px;
}

.row1,
.row2,
.row3,
.row4 {
	margin-bottom: 20px;
}