	h1{
		font-weight:normal;

	}
	h1, .abstract  {

		/*transform: rotate(180deg);*/
	}
article h1{
	color:red;
}
	#article-subhead {
		background-color:teal
	}
a:link{
	font-weight:700;
	background-color:orange;
}
a:hover{background-color:white;

}