html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}
h1{color: #602F95;
   font-weight: bold;
   text-decoration: underline;
   margin-bottom: 50px
 }

 img.ribbon{
  float: right;
  position: relative;
  left: 8px;
  bottom: 95px;
 }

#container :nth-child(1n+5){
float: left;
}

.redbox {
background-color: #D84231;
box-shadow: 10px 10px 5px grey;
color: white;
font-weight: bolder;
font-size: 18px;
width: 72px;
height: 72px;
padding: 6px;
border-style: solid;
border-color: black;
border-width: 1px;
float: left;
}

.orangebox{
margin: 0px 50px 50px 50px;
background-color: #EAAE33;
box-shadow: 10px 10px 5px grey;
font-size: 18px;
color: white;
font-weight: bolder;
width: 72px;
height: 72px;
padding: 6px;
border-style: solid;
border-color: black;
border-width: 1px;
float: left;
}
.yellowbox{
margin: 0px 50px 50px 0px;
background-color: #FCF733;
box-shadow: 10px 10px 5px grey;
color: white;
font-weight: bolder;
font-size: 18px;
width: 72px;
height: 72px;
padding: 6px;
border-style: solid;
border-color: black;
border-width: 1px;
float: left;
}
.greenbox{
margin: 0px 0px 0px 0px;
background-color: #578C05;
box-shadow: 10px 10px 5px grey;
color: white;
font-weight: bolder;
font-size: 18px;
width: 72px;
height: 72px;
padding: 6px;
border-style: solid;
border-color: black;
border-width: 1px;
/*float: left;
*/clear: left;
}
.bluebox{
margin: 0px 0px 0px 50px;
background-color: #234AFB;
box-shadow: 10px 10px 5px grey;
color: white;
font-weight: bolder;
font-size: 18px;
width: 72px;
height: 72px;
padding: 6px;
border-style: solid;
border-color: black;
border-width: 1px;
/*float: left;
*/}
.violetbox{
margin: 0px 0px 0px 50px;
background-color: #DF8BF0;
box-shadow: 10px 10px 5px grey;
color: white;
font-weight: bolder;
font-size: 18px;
width: 72px;
height: 72px;
padding: 6px;
border-style: solid;
border-color: black;
/*float: left;
*/border-width: 1px;
}

img.codeup1 {
  position: relative;
  bottom: 90px;
  left:  45px;
}
img.codeup2 {
  position: relative;
  bottom: 90px;
  left:  45px;
}
img.codeup3 {
  position: relative;
  bottom: 90px;
  left:  45px;
}
img.codeup4 {
  position: relative;
  bottom: 90px;
  left:  45px;
}
img.codeup5 {
  position: relative;
  bottom: 90px;
  left:  45px;
}
img.codeup6 {
  position: relative;
  bottom: 90px;
  left:  45px;
}



