body {
	background-color: lightblue;
	background: lightblue; /* For browsers that do not support gradients */
  	background: -webkit-linear-gradient(-90deg, lightblue, white); /* For Safari 5.1 to 6.0 */
  	background: -o-linear-gradient(-90deg, lightblue, white); /* For Opera 11.1 to 12.0 */
  	background: -moz-linear-gradient(-90deg, lightblue, white); /* For Firefox 3.6 to 15 */
  	background: linear-gradient(-90deg, lightblue, white); /* Standard syntax */
  }

/*////////////////////////////////////////*/
/*Header with logo, nav, and addresss info*/
/*////////////////////////////////////////*/

header {
	position: relative;
}

/*nav controls, colors, pills etc.*/

nav {
	background-color: #2A338F;
	position: relative;
	clear: both;
}

ul,
li {
	
	font-family: 'Bangers';
	font-size: 2rem;
	display: inline-block;
	position: relative;
	text-shadow: 1px 1px 1px black;
}

ul.nav li a, ul.nav li a:visited {
    color: white !important;
}

ul.nav li a:hover, ul.nav li a:active {
    color: #FECB02 !important;
}

ul.nav li.active a {
    color: white !important;
}

.btn-lg {
	background-color: #2A338F;
}

/*Main Zoo Logo*/

.sazoo {
	width: 16%;
	padding: 1%;
	float: left;
	clear: both;
}

.address {
	line-height: 40%;
	position: relative;
	right: 1%;
	margin-bottom: 2%;
	margin-top: 1%;
	font-size: 1.5rem;
}

/*////////////////////////*/
/*Background animal prints*/
/*////////////////////////*/

/*Hero container for animal prints*/

.hero {
	width: 105%;
	float: left;
	position: absolute;
	left: -2.5%;
}

.animal {
	height: 50rem;
	position: relative;
	float: left;
}

.leopard {
	width: 100%;
}

.giraffe {
	width: 100%;
}

.snake {
	width: 100%;
}

.peacock {
	width: 100%;

}

/*/////////////////////*/
/*White main background*/
/*/////////////////////*/

.mainback {
	height: 185rem;
	width: 90%;
	border: solid #7300AB 4px;
	position: relative;
	left: 5%;
	top: -1925px;
	background-image: url("/img/whitewood2.jpg");
	float: left;
	padding: 1%;
}

/*///////////////////////////*/
/*Main heading on top of page*/
/*///////////////////////////*/

.heading {
	font-family: 'Open Sans', sans-serif;
	font-weight: bolder;
	font-size: 3rem;
	line-height: 100%;
	position: relative;
	top: 1%;
}

.just {
	font-family: 'Bangers';
	font-size: 4.3rem;
	color: #FECB02;
	text-shadow: 3px 5px 6px grey;
}

/*/////////////////////////////////////////////////////////////////////*/
/*All Media Query Info all elements explained after media query section*/
/*/////////////////////////////////////////////////////////////////////*/

/* Custom, iPhone Retina */ 
@media only screen and (min-width : 320px) {
	.sazoo {
		width: 50%;
	}

}

/* Extra Small Devices, Phones */ 
@media screen and (min-width: 1px) and (max-width: 767px)  {
	.sazoo {
		width: 100%;
	}

	h3 {
		font-size: 1.8rem;
	}

	.address {
		font-size: .9rem
	}

	.giraffes {
		position: relative;
		left: 28%;
	}

	.frog {
		width: 15%;
		position: absolute;
		top: 5%;
		right: 1%;
	}

	.attractions {
	font-size: .9rem;
	line-height: 130%;
	}

	.attract-head {
		position: relative;
		right: 5%;
	}

	.directions {
	font-size: .9rem;
	line-height: 130%;
	}

	footer {
		font-size: 1.0rem;
		line-height: 90%;
	}
	.social {
		width: 10%;
		position: relative;
		right: 20%;
	}
	.coupon	{
		width: 100%;
		height: 10%;
		position: relative;
		top: 70%;
	}

	.whitebox {
		width: 100%;
		height: 10%;
		position: relative;
		top: 81%;
	}

	.couponheading {
		position: absolute;
		bottom: 30%;
		left: 45%;
	}

	.funpass {
		font-size: 1.1rem;
	}

	.funpassbottom {
		font-size: .7rem;
	}	 

	.microprint {
		font-size: .35rem;
	}
	
	.boxheading {
		font-size: .7rem;
	}

	.boxbottom {
		font-size: .6rem;
	}

	.ticket {
	text-align: center;
	font-size: 1.0rem;
	line-height: 115%;
	width: 100%;
	position: absolute;
	bottom: 5.7%;
	left: 1%;
	margin-bottom: 2%;
	clear: both;
	}

}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {
	.sazoo {
		width: 50%;
	}

	.giraffes {
		position: relative;
		left: 28%;
	}

	.frog {
		width: 15%;
		position: absolute;
		top: 5%;
		right: 1%;
	}

	.attractions {
		font-size: .9rem;
		line-height: 130%;
	}

	.directions {
		font-size: .9rem;
		line-height: 90%;
	}

	footer {
		font-size: 1.0rem;
	}

	.social {
		width: 5%;
		position: relative;
		right: 5%;
	}
	.coupon	{
		width: 50%;
		height: 13%;
		font-size: 2.5rem;
	}

	.whitebox {
		width: 50%;
		height: 13%;
	}

	.couponheading {
		position: absolute;
		bottom: 27%;
		right: 42%;
	}

	.funpass {
		font-size: 1.2rem;
	}

	.funpassbottom {
		font-size: 1.0rem;
	}	 

	.microprint {
		font-size: .35rem;
	}
	
	.boxheading {
		font-size: 1.1rem;
	}

	.boxbottom {
		font-size: 1rem;
	}

	.ticket {
		text-align: center;
		font-size: 1.0rem;
		line-height: 115%;
		width: 90%;
		position: absolute;
		bottom: 10%;
		left: 1%;
		clear: both;
	}

}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {
	.sazoo {
		width: 16%;
	}

	.giraffes {
		position: relative;
		left: 0%;
	}

	.frog {
		width: 15%;
		position: absolute;
		top: 3%;
		right: 1%;
	}

	.attractions {
		font-size: 1.2rem;
		line-height: 130%;
	}

	.directions {
		font-size: 1.2rem;
		line-height: 130%;
	}

	footer {
		font-size: 1.3rem;
	}

	.couponheading {
		right: 45%;
		position: absolute;
		bottom: 27%;
	}

	.coupon	{
		width: 35%;
		height: 13%;
		font-size: 2.5rem;
	}

	.whitebox {
		width: 35%;
		height: 13%;
	}

	.funpass {
		font-size: 1.8rem;
	}

	.funpassbottom {
		font-size: 1.3rem;
	} 

	.microprint {
		font-size: .45rem;
	}
	
	.boxheading {
		font-size: 1.1rem;
	}

	.boxbottom {
		font-size: 1rem;
	}
	.ticket {
		text-align: center;
		font-size: 1.25rem;
		line-height: 115%;
		width: 20%;
		position: absolute;
		bottom: 20%;
		left: 40%;
		clear: both;
	}

}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {
	.sazoo {
		width: 16%;
	}
	
	.attractions {
		font-size: 1.2rem;
		line-height: 130%;
	}

	footer {
		font-size: 1.3rem;
	}

		.funpass {
		font-size: 1.8rem;
	}

	.funpassbottom {
		font-size: 1.3rem;
	} 

	.microprint {
		font-size: .45rem;
	}
	
	.boxheading {
		font-size: 1.1rem;
	}

	.boxbottom {
		font-size: 1rem;
	}

}

/*//////////////////////////////////////////*/
/*Giraffe and Frog images on the top of page*/
/*//////////////////////////////////////////*/

.giraffes {
	width: 40%;
}

.frog {
	width: 22%;
	float: left;
}

/*/////////////////////*/
/*Selector for all h3's*/
/*/////////////////////*/

h3 {
	font-family: 'Bangers';
	color: #FECB02;
	text-shadow: 3px 5px 6px grey;
    text-align: center;
}

/*/////////////////////////*/
/*Container for attractions*/
/*/////////////////////////*/

.attractions-con {
	position: absolute;
	top: 15%;
}

.butterflies {
	width: 75%;
}

.train {
	width: 75%;
}

.lory {
	width: 75%;
}

.carousel {
	width: 85%;
	margin-bottom: 2%;
}

.maintext {
	position: relative;
	top: -40%;
}

/*/////////////////////////////*/
/*Whitebox Coupon lines 501-580*/
/*/////////////////////////////*/

.whitebox {
	background-color: white;
	position: absolute;
	bottom: 13%;
	right: -.5%;
	margin-right: 1%;
	border: dashed 3px #7300AB;

}

.sazoo2 {
	width: 8%; 
	height: 10%;
	position: absolute;
	left: 3%;
	top: 2%;
}

.funpass {
	position: relative;
	top: -3%;
	font-family: 'Belgrano', serif;	
	font-weight: lighter;
}

.funpassbottom {
	position: relative;
	bottom: -70%;
	font-family: 'Belgrano', serif;
}

.popcorn {
	width: 10%;
	position: absolute;
	right: 0%;
	bottom: 3%;
}

.microprint {
	position: relative;
	bottom: -65%;
}

/*////////////////////////////////////*/
/*Individual Boxes within Whitebox Div*/
/*////////////////////////////////////*/

.box {
	border: solid black 1px;
	height: 71%;
	width: 25%;
	position: absolute;
	left: 0%;
	top: 13%;
	float: left;
	background-color: white;
}

.box1	{
	height: 71%;
	width: 25%;
}

.box2 {
	height: 71%;
	width: 25%;
	left: 25%;
}

.box3 {
	height: 71%;
	width: 25%;
	left: 50%;
}

.box4 {
	height: 71%;
	width: 25%;
	left: 75%;
}

/*///////////////////////////////////*/
/*Header and Footer Info for Whitebox*/
/*///////////////////////////////////*/

.boxheading {
	font-weight: bolder;
	top: 0%;
	left: 10%;
}

.boxbottom {
	font-weight: bolder;
	line-height: 90%;
	position: relative;
	top: -6%;
}


/*/////////////////////////////////////////*/
/*Controls for all pictures within Whitebox*/
/*/////////////////////////////////////////*/

.pic {
	position: relative; 
	top: -8%;
	left: 8%;
	width: 85%;
	height: 50%;
	border: 1px solid black;
}

/*////////////////////////////////*/
/*Everything for the Orange Coupon*/
/*////////////////////////////////*/

.coupon {
	position: absolute;
	bottom: 13%;
	left: .5%;
	background-color: darkorange;
	border: dashed 3px #7300AB;

}
.sazoologo{
	position: absolute;
	top: 2%;
	background-color: white;
	width: 65%;
	right: 18%;
	border-radius: 6px;
}

.admission {
	font-family: 'Luckiest Guy', cursive;
	color: white;
	letter-spacing: .2rem;
	line-height: 50%;
	position: relative;
	margin-top: 2%;
	top: 35%;
}

.fineprint {
	position: absolute;
	bottom: -5%;
	right: 3%;
	font-size: 1.3rem;
	line-height: 110%;
	width: 95%;
}

/*////////////////////////////////////////////////////////////*/
/*This is the CSS required to make iframes size proportionally*/
/*////////////////////////////////////////////////////////////*/

iframe {
	box-shadow: 1px 1px 1px black;
	position: absolute;
	bottom: -5%;
	left: 2.5%;
}

.videoWrapper {
	position: relative;
	padding-bottom: 56.25%; /* 16:9 */
	padding-top: 25px;
	height: 0;
}
.videoWrapper iframe {
	position: absolute;
	top: 10%;
	left: 15%;
	width: 70%;
	height: 80%;
}

/*//////////////////////////////*/
/*Directions and hours selectors*/
/*//////////////////////////////*/

.directions {
	position: absolute;
	bottom: 36%;
	left: 0%;
	line-height: 110%; 
	}

.hours-ad {
	position: relative;
	bottom: 24%;
	line-height: 90%;
}

.via {
	float: right;
	width: 15%;

}

/*//////////////////////////////////////////////////////////*/
/*Footer with social media icons and link to San Antonio Zoo*/
/*//////////////////////////////////////////////////////////*/

footer {
	position: absolute;
	bottom: .5%;
	margin: 1px;
}

.social-icons {
	position: relative;
	left: 38%;
	margin-bottom: 1%;
}
.facebook {
	float: left;
	height: auto;
	margin-right: 1.5%;
}

.twitter {
	float: left;
	height: auto;
	margin-right: 1.75%;
}

.instagram {
	float: left;
	height: auto;
	margin-right: 1.5%;
}

.vine {
	float: left;
	height: auto;
	margin-right: 1%;
}

.youtube {
	float: left;
	height: auto;

}

