html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}

.container {
    margin: 0 auto;
    width: 80%;
    max-width: 1200px;
    background-color: blue;
}

.row {
    width:100%;
    background-color: yellow;
   
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

.column {
    float: left;
    padding: 10px;
}
.column.one-third {
    width: 33.33%;
    border: solid 1px black;
    background-color: blue;
}
.column.one-half {
    width: 50%;
    border: solid 1px blue;
    background-color: salmon;
}

.column.one-fourth {
	width: 25%;
	border: solid 1px teal;
	background-color: orange;
}


.column.one-sixth {
	width: 16.666%;
	border: solid 1px darkred;
	background-color: lightyellow;

}

.column.one-eighth {
	width: 12.5%;
	border: solid 1px purple;
	background-color: magenta;
}
 
.offset-one-half {
	background-color: black;
	margin-left: 50%;
}



