h1 {
	color: #779D49;
}

h1 {text-decoration: underline;

}
.quote_header {color: #779D49;

}
.quote_header {text-decoration: underline;

}
h2{color: #4F5C31

}
h2{
	text-decoration: underline;
}
.background	{

	background-color: #b0c4de;
}
ol	{
	list-style: square;
}
ul 	{
	list-style: lower-roman;
}


body {
	font-family: 'Raleway', sans-serif;
	color:white;
	font-size:14px;
	font-weight: lighter;
	background-repeat: no-repeat;
	background-image: url("/img/bluecss.jpg");
	background-size: 1500px 1250px;
}

.hextable {
	padding: 50px;

}
th {
	border:3px solid black; font-size:30px;
}
td {
	border:3px solid black;
}

/* unvisited link (:link) */
a:link {
    color:red;
}

/* visited link (:visited) */
a:visited {
    color:black;
}

/* mouse hover over link (:hover) */
a:hover {
    color:blue;
}

/* active/selected link (:active) */
a:active {
    color:green;
}
.harley {
	width: 220px;
	height: 220px;
	padding: 5px;

}


