
/*///////////////////////////*/
/*Header Logo and Kandy Color*/
/*///////////////////////////*/

.logo {
	position: relative;
	top: 12px;
	left: 5%;
}

h3	{
	text-align: center;
}

.kandycolor {
	color: #D91E57;
}

/*///////////////////////////*/
/*////////Nav Bar///////////*/
/*/////////////////////////*/

nav {
	width: 100%;
	float: left;
	background: rgba(0, 0, 0, 0.6) !important;
	border-color: transparent !important;
}

ul,
li {
	position: relative;
	left: 10%;
	max-width: 100%;
	font-size: 1.5rem;
}

ul.nav li a, ul.nav li a:visited {
    color: white !important;
}

ul.nav li a:hover, ul.nav li a:active {
    color: #D91E57 !important;
}

ul.nav li.active a {
    color: white !important;
}

/*///////////////////////*/
/*Main picture background*/
/*//////////////////////*/


.main {
	height: 800px;
	background-image: url("/img/hip.jpg");
	opacity: 0.6;
	background-size: 100%;
	margin: 0 auto;
	background-repeat: no-repeat;
}

/*//////////////////////////*/
/*Main Boxes, Video and Text*/
/*//////////////////////////*/
.signup {
	margin-bottom: 8%;
}


.api {
	height: 100%;
	width: 100%;
	background-color: #E9EAEA;
}

.connect {
	position: relative;
	right: 0%;
	top: -20%;
	font-family: "Open Sans", Helvetica, Arial, sans-serif;
	font-size: 1.5rem;
	font-weight: lighter;
	color: #606060;
}

/*//////////////////*/
/*my tutorial videos*/
/*//////////////////*/

.tut {
	position: relative;
	left: 15%;

}

.voicevideo {
  position: relative;
  left:2%;
}

.numero1 {
	height: 100%;
	width: 100%;
	background-color: white;
	margin-bottom: 2%;
}

.numero2 {
	height: 100%;
	width: 100%;
	background-color: #E9EAEA;
	margin-bottom: 2%;

}

.numero3 {
	height: 100%;
	width: 100%;
	background-color: white;
	margin-bottom: 2%;
}

.numero4 {
	height: 100%;
	width: 100%;
	background-color: #E9EAEA;
}

/*////////////////////////////////////*/
/*Icon color and positioning for group*/
/*////////////////////////////////////*/

i {
	color: #D91E57;
	position: absolute;
	left: 32%;
	top: 25%;
}

/*////////////////////////////////*/
/*Individual positioning for Icons*/
/*////////////////////////////////*/


.fa-mobile {
	position: absolute;
	left: 35%;

}

.fa-video-camera {
	position: absolute;
	left: 21%;
}

.fa-wechat {
	position: absolute;
	left: 21%;
}

.fa-users {
	position: absolute;
	left: 21%;
}


/*////////////////////////////////////////////////////////*/
/*Circles controls placement of all 4 circles around icons*/
/*////////////////////////////////////////////////////////*/



/*use this to make circles responsive */
/*

<div class="container">
  <div class="circle"></div>
</div>

.container {
  width: 15%;
  height:300px;
  background: blue;
}

.circle {
  border-radius: 50%;
  width: 100%;
  padding-bottom: 100%;
  background: white;
}*/




.circles {
	position: relative;
	left: 73%;
	top: -50px;
}

.circle1 {
	width: 5%;
	height: 70px;
	border: 2px solid #ECEEF0;
	border-radius: 50%;
	position: relative;
	bottom: 10px; 
}

.circle2 {
	width: 5%;
	height: 70px;
	border: 2px solid white;
	border-radius: 50%;
	position: relative; 
	bottom: 10px;
}

.circle3 {
	width: 5%;
	height: 70px;
	border: 2px solid #ECEEF0;
	border-radius: 50%;
	position: relative;
	bottom: 10px; 
}

.circle4 {
	width: 5%;
	height: 70px;
	border: 2px solid white;
	border-radius: 50%;
	position: relative;
	bottom: 10px; 
}

/*/////////////////////*/
/*Text for all sections*/
/*/////////////////////*/

.boxtext {
	font-family: "Open Sans", Helvetica, Arial, sans-serif;
	font-size: 1.5rem;
	font-weight: lighter;
	color: #606060;
	vertical-align: text-bottom !important;
}

iframe {
	box-shadow: 1px 1px 1px black;
	position: absolute;
	bottom: -5%;
	left: 2.5%;
}

/*////////////////////////////////////////////////////////////*/
/*This is the CSS required to make iframes size proportionally*/
/*////////////////////////////////////////////////////////////*/

.videoWrapper {
	position: relative;
	padding-bottom: 56.25%; /* 16:9 */
	padding-top: 25px;
	height: 0;
}
.videoWrapper iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 70%;
	height: 70%;
}





