.container{
	position: relative;
	left: 2%;
	width: 45%;
}

h1 {
	font-weight: lighter;
	font-family: 'Raleway', sans-serif;
	position: relative;
	left: 30%;
}

th {
	display: none;
}

td button {
	margin: 1px;
}

tr,
td,
input,
button	{
	font-weight: lighter;
	font-family: 'Raleway', sans-serif;
}

.btn-danger{
	background-color: #FF5252;
	border-color: #FF5252;
}

.btn-primary{
	background-color: #00B7B7;
	border-color: #00B7B7;

}

.btn-new-item {
	position: relative;
	left: .75%;
}

.dropdown-toggle {
	position: relative;
	left: 1.5%;
}

.dateclass,
.priority,
.content {
	width: 148px;
}


