.container {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 320px;
  height: 600px;
  box-shadow: 10px 5px 30px black;
}
.container .top {
  height: 45%;
  background: #1875D1;
}
.container .bottom {
  position: relative;
  height: 55%;
  background: #2095F2;
  color: #FEFEFE;
  font-family: 'Roboto', serif;
  font-weight: lighter;
  font-size: 18px;
  text-align: left;
  text-shadow:1px 1px 5px black;
}
.container .bottom:before {
  content: "";
  position: absolute;
  bottom: 100%;
  left: 0;
  border-style: solid;
  border-width: 0 0 60px 320px;
  border-color: transparent transparent #2095F2;
}
.circle {
    background-image: url("/img/794.jpg");
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background-position: center;
    position: absolute;
    left: 60px;
    top: 140px;
    z-index: 1;
    box-shadow: 10px 5px 30px black;
}

p{
  color: #1875D1; 
  font-family: "Roboto";
  font-size: 20px;
  margin: 10px 0 0 10px;
  white-space: nowrap;
  overflow: hidden;
  width: 30em;
  animation: type 5s steps(60, end); 
}

p:nth-child(2){
  animation: type2 8s steps(60, end);
}

p a{
  color: lime;
  text-decoration: none;
}

span{
  animation: blink 1s infinite;
}

@keyframes type{ 
  from { width: 0; } 
} 

@keyframes type2{
  0%{width: 0;}
  50%{width: 0;}
  100%{ width: 100; } 
} 

@keyframes blink{
  to{opacity: .0;}
}

::selection{
  background: black;
}


