.container {
	position: relative;
	top: 200px;
	background-color: #6FBBF7;
	width: 200px;
	height: 325px;
	padding: 2%;
	border-radius: 10%;
	box-shadow: 2px 2px 2px;
}

input {
	text-align: right;
	position: relative;
	top: 2px;
	right: 2px;
}

.clear {
	width: 40px;
	background-color: salmon;
	position: relative;
	top: 12px;
	left: 107px;
}

.calckeys {
	position: relative;
	top: 20px;
}

.row1,
.row2,
.row3,
.row4 {
	margin-bottom: 10%;
}